Load the data from CSV

In [9]:
import pandas as pd
df = pd.read_csv("2023_Countries_by_Population.csv")
df

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,country,area,landAreaKm,cca2,cca3,netChange,growthRate,worldPercentage,density,densityMi,rank
0,356,696828385.0,1.059634e+09,1.240614e+09,1.417173e+09,1.428628e+09,1.514994e+09,1.670491e+09,India,3287590.00,2973190.00,IN,IND,0.4184,0.0081,0.1785,480.5033,1244.5036,1
1,156,982372466.0,1.264099e+09,1.348191e+09,1.425887e+09,1.425671e+09,1.415606e+09,1.312636e+09,China,9706961.00,9424702.90,CN,CHN,-0.0113,-0.0002,0.1781,151.2696,391.7884,2
2,840,223140018.0,2.823986e+08,3.111828e+08,3.382899e+08,3.399966e+08,3.521623e+08,3.753920e+08,United States,9372610.00,9147420.00,US,USA,0.0581,0.0050,0.0425,37.1686,96.2666,3
3,360,148177096.0,2.140724e+08,2.440162e+08,2.755013e+08,2.775341e+08,2.921501e+08,3.172252e+08,Indonesia,1904569.00,1877519.00,ID,IDN,0.0727,0.0074,0.0347,147.8196,382.8528,4
4,586,80624057.0,1.543699e+08,1.944545e+08,2.358249e+08,2.404857e+08,2.740298e+08,3.678085e+08,Pakistan,881912.00,770880.00,PK,PAK,0.1495,0.0198,0.0300,311.9625,807.9829,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,500,11452.0,5.138000e+03,4.938000e+03,4.390000e+03,4.386000e+03,4.301000e+03,3.781000e+03,Montserrat,102.00,102.00,MS,MSR,NaN,-0.0009,NaN,43.0000,111.3700,230
230,238,2240.0,3.080000e+03,3.187000e+03,3.780000e+03,3.791000e+03,3.869000e+03,3.779000e+03,Falkland Islands,12173.00,12173.00,FK,FLK,NaN,0.0029,NaN,0.3114,0.8066,231
231,570,3637.0,2.074000e+03,1.812000e+03,1.934000e+03,1.935000e+03,1.948000e+03,2.096000e+03,Niue,261.00,261.00,NU,NIU,0.0000,0.0005,NaN,7.4138,19.2017,232
232,772,1647.0,1.666000e+03,1.367000e+03,1.871000e+03,1.893000e+03,2.046000e+03,2.430000e+03,Tokelau,12.00,10.00,TK,TKL,NaN,0.0118,NaN,189.3000,490.2870,233
233,336,733.0,6.510000e+02,5.960000e+02,5.100000e+02,5.180000e+02,5.610000e+02,7.310000e+02,Vatican City,0.44,0.44,VA,VAT,NaN,0.0157,NaN,1177.2727,3049.1364,234

Data analysis

In [10]:
df.describe()

,place,pop1980,pop2000,pop2010,pop2022,pop2023,pop2030,pop2050,area,landAreaKm,netChange,growthRate,worldPercentage,density,densityMi,rank
count,234.000000,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,226.000000,234.000000,228.000000,234.000000,234.000000,234.000000
mean,439.085470,1.898462e+07,2.626947e+07,2.984524e+07,3.407441e+07,3.437442e+07,3.651461e+07,4.148628e+07,5.814500e+05,5.571123e+05,0.010306,0.009737,0.004407,451.288182,1168.836388,117.500000
std,253.295484,8.178519e+07,1.116982e+08,1.242185e+08,1.367664e+08,1.373864e+08,1.417827e+08,1.481676e+08,1.761841e+06,1.689972e+06,0.034774,0.012350,0.017375,1979.362419,5126.548664,67.694165
min,4.000000,7.330000e+02,6.510000e+02,5.960000e+02,5.100000e+02,5.180000e+02,5.610000e+02,7.310000e+02,4.400000e-01,4.400000e-01,-0.028600,-0.074500,0.000000,0.138000,0.357400,1.000000
25%,223.000000,2.296142e+05,3.272420e+05,3.931490e+05,4.197385e+05,4.225982e+05,4.561490e+05,5.466058e+05,2.650000e+03,2.625875e+03,0.000000,0.002325,0.000100,39.747650,102.946450,59.250000
50%,439.000000,3.141146e+06,4.292907e+06,4.942770e+06,5.559944e+06,5.643895e+06,6.178231e+06,6.352397e+06,8.119950e+04,7.568925e+04,0.000900,0.008200,0.000750,97.481000,252.475800,117.500000
75%,659.750000,9.826054e+06,1.576230e+07,1.915957e+07,2.247650e+07,2.324537e+07,2.616311e+07,3.568614e+07,4.304258e+05,4.047876e+05,0.008000,0.016850,0.002925,242.928650,629.185350,175.750000
max,894.000000,9.823725e+08,1.264099e+09,1.348191e+09,1.425887e+09,1.428628e+09,1.514994e+09,1.670491e+09,1.709824e+07,1.637687e+07,0.418400,0.049800,0.178500,21402.705200,55433.006400,234.000000

In [16]:
# Population above 100M in 2023
above_100m = df[df["pop2023"] > 1e+08]
pd.DataFrame(above_100m, columns=["country", "pop2023"])

          country       pop2023
0           India  1.428628e+09
1           China  1.425671e+09
2   United States  3.399966e+08
3       Indonesia  2.775341e+08
4        Pakistan  2.404857e+08
5         Nigeria  2.238046e+08
6          Brazil  2.164224e+08
7      Bangladesh  1.729543e+08
8          Russia  1.444444e+08
9          Mexico  1.284556e+08
10       Ethiopia  1.265271e+08
11          Japan  1.232945e+08
12    Philippines  1.173374e+08
13          Egypt  1.127166e+08
14       DR Congo  1.022628e+08